<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution">

<!--In this module use when install time user first downloaded app-->
    <dist:module
        dist:instant="false"
        dist:title="@string/title_featurefavorite">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>